/*

    Created on : Mar 30, 2016, 9:43:37 AM
    Author     : User
*/
a{
    text-decoration: none !important;
}

nav ul li{
    border-left: 1px solid #BFFF00;
}
nav ul li:hover{
    background-color: #BFFF00;
}

table td{ padding: 5px 20px 5px 20px;}
table th{ text-align: center;}


